USE [master]
GO
/****** Object:  Database [RetailDW]    Script Date: 10/08/2026 07:50:43 ******/
CREATE DATABASE [RetailDW]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RetailDW', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLDEV2022\MSSQL\DATA\RetailDW.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RetailDW_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLDEV2022\MSSQL\DATA\RetailDW_log.ldf' , SIZE = 204800KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RetailDW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RetailDW]
GO
/****** Object:  Schema [audit]    Script Date: 10/08/2026 07:50:44 ******/
CREATE SCHEMA [audit]
GO
/****** Object:  Schema [bronze]    Script Date: 10/08/2026 07:50:44 ******/
CREATE SCHEMA [bronze]
GO
/****** Object:  Schema [etl]    Script Date: 10/08/2026 07:50:44 ******/
CREATE SCHEMA [etl]
GO
/****** Object:  Schema [gold]    Script Date: 10/08/2026 07:50:44 ******/
CREATE SCHEMA [gold]
GO
/****** Object:  Schema [silver]    Script Date: 10/08/2026 07:50:44 ******/
CREATE SCHEMA [silver]
GO
/****** Object:  Schema [staging]    Script Date: 10/08/2026 07:50:44 ******/
CREATE SCHEMA [staging]
GO
/****** Object:  Table [audit].[Customer_Pipeline_Log]    Script Date: 10/08/2026 07:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [audit].[Customer_Pipeline_Log](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[RowsIn] [int] NULL,
	[RowsOut] [int] NULL,
	[RowsRejected] [int] NULL,
	[RejectionBreakdown] [nvarchar](500) NULL,
	[Notes] [nvarchar](300) NULL,
	[RunTimestamp] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [audit].[Customer_Rejected]    Script Date: 10/08/2026 07:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [audit].[Customer_Rejected](
	[RejectionID] [int] IDENTITY(1,1) NOT NULL,
	[SourceCustomerKey] [int] NULL,
	[RejectionReason] [nvarchar](200) NULL,
	[RawCustomerID] [nvarchar](100) NULL,
	[RawAge] [nvarchar](50) NULL,
	[RawGender] [nvarchar](50) NULL,
	[RejectedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[RejectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [audit].[Execution_Log]    Script Date: 10/08/2026 07:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [audit].[Execution_Log](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[LayerName] [nvarchar](50) NULL,
	[ModuleName] [nvarchar](50) NULL,
	[ProcedureName] [nvarchar](100) NULL,
	[ActionDescription] [nvarchar](300) NULL,
	[RowsAffected] [int] NULL,
	[ExecutedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [audit].[Product_Pipeline_Log]    Script Date: 10/08/2026 07:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [audit].[Product_Pipeline_Log](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[RowsIn] [int] NULL,
	[RowsOut] [int] NULL,
	[RowsRejected] [int] NULL,
	[RejectionBreakdown] [nvarchar](500) NULL,
	[Notes] [nvarchar](300) NULL,
	[RunTimestamp] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [audit].[Product_Rejected]    Script Date: 10/08/2026 07:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [audit].[Product_Rejected](
	[RejectionID] [int] IDENTITY(1,1) NOT NULL,
	[SourceProductID] [int] NULL,
	[RejectionReason] [nvarchar](200) NULL,
	[RawCategory] [nvarchar](100) NULL,
	[RawProductName] [nvarchar](255) NULL,
	[RawUnitPrice] [nvarchar](50) NULL,
	[RejectedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[RejectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [audit].[Sales_Pipeline_Log]    Script Date: 10/08/2026 07:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [audit].[Sales_Pipeline_Log](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[RowsIn] [int] NULL,
	[RowsOut] [int] NULL,
	[RowsRejected] [int] NULL,
	[RejectionBreakdown] [nvarchar](500) NULL,
	[Notes] [nvarchar](300) NULL,
	[RunTimestamp] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [audit].[Sales_Rejected]    Script Date: 10/08/2026 07:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [audit].[Sales_Rejected](
	[RejectionID] [int] IDENTITY(1,1) NOT NULL,
	[SourceOrderID] [nvarchar](100) NULL,
	[RejectionReason] [nvarchar](200) NULL,
	[RawCustomerID] [nvarchar](100) NULL,
	[RawOrderDate] [nvarchar](100) NULL,
	[RawQuantity] [nvarchar](50) NULL,
	[RejectedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[RejectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [bronze].[Customer_Bronze]    Script Date: 10/08/2026 07:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bronze].[Customer_Bronze](
	[CustomerKey] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [varchar](100) NULL,
	[CustomerName] [varchar](255) NULL,
	[Age] [varchar](50) NULL,
	[Gender] [varchar](50) NULL,
	[Region] [varchar](100) NULL,
	[City] [varchar](100) NULL,
	[CustomerSatisfaction] [varchar](50) NULL,
	[SourceImportID] [int] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [bronze].[Product_Bronze]    Script Date: 10/08/2026 07:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bronze].[Product_Bronze](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductCategory] [varchar](100) NULL,
	[ProductName] [varchar](255) NULL,
	[UnitPrice] [varchar](50) NULL,
	[SourceImportID] [int] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [bronze].[Sales_Bronze]    Script Date: 10/08/2026 07:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bronze].[Sales_Bronze](
	[SalesKey] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [varchar](100) NULL,
	[OrderDate] [varchar](100) NULL,
	[Quantity] [varchar](50) NULL,
	[DiscountPct] [varchar](50) NULL,
	[SalesAmount] [varchar](50) NULL,
	[Profit] [varchar](50) NULL,
	[ShippingCost] [varchar](50) NULL,
	[PaymentMethod] [varchar](100) NULL,
	[ReturnFlag] [varchar](50) NULL,
	[OrderStatus] [varchar](100) NULL,
	[DaysToShip] [varchar](50) NULL,
	[SourceImportID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CustomerID] [varchar](100) NULL,
	[ProductCategory] [varchar](100) NULL,
	[ProductName] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[SalesKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [gold].[DimCustomer]    Script Date: 10/08/2026 07:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gold].[DimCustomer](
	[CustomerKey] [int] IDENTITY(1,1) NOT NULL,
	[SourceCustomerKey] [int] NULL,
	[CustomerID] [nvarchar](100) NULL,
	[CustomerName] [nvarchar](400) NULL,
	[Age] [int] NULL,
	[Gender] [nvarchar](40) NULL,
	[Region] [nvarchar](200) NULL,
	[City] [nvarchar](200) NULL,
	[CustomerSatisfaction] [decimal](5, 1) NULL,
	[LoadDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [gold].[DimDate]    Script Date: 10/08/2026 07:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gold].[DimDate](
	[DateKey] [int] NOT NULL,
	[FullDate] [date] NULL,
	[CalendarYear] [int] NULL,
	[CalendarMonth] [int] NULL,
	[MonthName] [nvarchar](20) NULL,
	[CalendarQuarter] [int] NULL,
	[LoadDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[DateKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [gold].[DimProduct]    Script Date: 10/08/2026 07:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gold].[DimProduct](
	[ProductKey] [int] IDENTITY(1,1) NOT NULL,
	[SourceProductKey] [int] NULL,
	[ProductCategory] [nvarchar](200) NULL,
	[ProductName] [nvarchar](400) NULL,
	[UnitPrice] [decimal](18, 2) NULL,
	[LoadDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [gold].[FactSales]    Script Date: 10/08/2026 07:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gold].[FactSales](
	[FactSalesKey] [int] IDENTITY(1,1) NOT NULL,
	[ProductKey] [int] NOT NULL,
	[CustomerKey] [int] NOT NULL,
	[DateKey] [int] NOT NULL,
	[OrderID] [nvarchar](100) NULL,
	[Quantity] [int] NULL,
	[DiscountPct] [decimal](5, 2) NULL,
	[SalesAmount] [decimal](18, 2) NULL,
	[Profit] [decimal](18, 2) NULL,
	[ShippingCost] [decimal](18, 2) NULL,
	[PaymentMethod] [nvarchar](100) NULL,
	[ReturnFlag] [bit] NULL,
	[OrderStatus] [nvarchar](100) NULL,
	[DaysToShip] [int] NULL,
	[LoadDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[FactSalesKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [silver].[Customer_Silver]    Script Date: 10/08/2026 07:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [silver].[Customer_Silver](
	[CustomerKey] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [nvarchar](50) NULL,
	[CustomerName] [nvarchar](200) NULL,
	[Age] [int] NULL,
	[Gender] [nvarchar](20) NULL,
	[Region] [nvarchar](100) NULL,
	[City] [nvarchar](100) NULL,
	[CustomerSatisfaction] [decimal](3, 1) NULL,
	[SourceCustomerKey] [int] NULL,
	[LoadDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [silver].[Product_Silver]    Script Date: 10/08/2026 07:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [silver].[Product_Silver](
	[ProductKey] [int] IDENTITY(1,1) NOT NULL,
	[ProductCategory] [nvarchar](100) NULL,
	[ProductName] [nvarchar](200) NULL,
	[UnitPrice] [decimal](18, 2) NULL,
	[SourceProductID] [int] NULL,
	[LoadDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [silver].[Sales_Silver]    Script Date: 10/08/2026 07:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [silver].[Sales_Silver](
	[SalesKey] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [nvarchar](50) NULL,
	[OrderDate] [date] NULL,
	[Quantity] [int] NULL,
	[DiscountPct] [decimal](5, 2) NULL,
	[SalesAmount] [decimal](18, 2) NULL,
	[Profit] [decimal](18, 2) NULL,
	[ShippingCost] [decimal](18, 2) NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[ReturnFlag] [bit] NULL,
	[OrderStatus] [nvarchar](50) NULL,
	[DaysToShip] [int] NULL,
	[SourceSalesKey] [int] NULL,
	[LoadDate] [datetime2](7) NULL,
	[CustomerID] [nvarchar](100) NULL,
	[ProductCategory] [nvarchar](100) NULL,
	[ProductName] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[SalesKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [staging].[RetailSales_Import]    Script Date: 10/08/2026 07:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [staging].[RetailSales_Import](
	[ImportID] [int] IDENTITY(1,1) NOT NULL,
	[BatchID] [varchar](50) NULL,
	[SourceFileName] [varchar](255) NULL,
	[ImportDate] [datetime] NULL,
	[CustomerID] [varchar](100) NULL,
	[CustomerName] [varchar](255) NULL,
	[Age] [varchar](50) NULL,
	[Gender] [varchar](50) NULL,
	[Region] [varchar](100) NULL,
	[City] [varchar](100) NULL,
	[CustomerSatisfaction] [varchar](50) NULL,
	[ProductCategory] [varchar](100) NULL,
	[ProductName] [varchar](255) NULL,
	[UnitPrice] [varchar](50) NULL,
	[OrderID] [varchar](100) NULL,
	[OrderDate] [varchar](100) NULL,
	[Quantity] [varchar](50) NULL,
	[DiscountPct] [varchar](50) NULL,
	[SalesAmount] [varchar](50) NULL,
	[Profit] [varchar](50) NULL,
	[ShippingCost] [varchar](50) NULL,
	[PaymentMethod] [varchar](100) NULL,
	[ReturnFlag] [varchar](50) NULL,
	[OrderStatus] [varchar](100) NULL,
	[DaysToShip] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ImportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [audit].[Customer_Pipeline_Log] ADD  DEFAULT (getdate()) FOR [RunTimestamp]
GO
ALTER TABLE [audit].[Customer_Rejected] ADD  DEFAULT (getdate()) FOR [RejectedAt]
GO
ALTER TABLE [audit].[Execution_Log] ADD  DEFAULT (getdate()) FOR [ExecutedAt]
GO
ALTER TABLE [audit].[Product_Pipeline_Log] ADD  DEFAULT (getdate()) FOR [RunTimestamp]
GO
ALTER TABLE [audit].[Product_Rejected] ADD  DEFAULT (getdate()) FOR [RejectedAt]
GO
ALTER TABLE [audit].[Sales_Pipeline_Log] ADD  DEFAULT (getdate()) FOR [RunTimestamp]
GO
ALTER TABLE [audit].[Sales_Rejected] ADD  DEFAULT (getdate()) FOR [RejectedAt]
GO
ALTER TABLE [bronze].[Customer_Bronze] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [bronze].[Product_Bronze] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [bronze].[Sales_Bronze] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [gold].[DimCustomer] ADD  DEFAULT (getdate()) FOR [LoadDate]
GO
ALTER TABLE [gold].[DimDate] ADD  DEFAULT (getdate()) FOR [LoadDate]
GO
ALTER TABLE [gold].[DimProduct] ADD  DEFAULT (getdate()) FOR [LoadDate]
GO
ALTER TABLE [gold].[FactSales] ADD  DEFAULT (getdate()) FOR [LoadDate]
GO
ALTER TABLE [silver].[Customer_Silver] ADD  DEFAULT (getdate()) FOR [LoadDate]
GO
ALTER TABLE [silver].[Product_Silver] ADD  DEFAULT (getdate()) FOR [LoadDate]
GO
ALTER TABLE [silver].[Sales_Silver] ADD  DEFAULT (getdate()) FOR [LoadDate]
GO
ALTER TABLE [staging].[RetailSales_Import] ADD  DEFAULT (getdate()) FOR [ImportDate]
GO
/****** Object:  StoredProcedure [etl].[usp_Load_Customer_Bronze]    Script Date: 10/08/2026 07:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [etl].[usp_Load_Customer_Bronze]
AS
BEGIN
    SET NOCOUNT ON;

    TRUNCATE TABLE bronze.Customer_Bronze;

    INSERT INTO bronze.Customer_Bronze
        (CustomerID, CustomerName, Age, Gender, Region, City, CustomerSatisfaction, SourceImportID)
    SELECT
        CustomerID, CustomerName, Age, Gender, Region, City, CustomerSatisfaction, ImportID
    FROM staging.RetailSales_Import;

    DECLARE @rowsIn INT, @rowsOut INT;
    SELECT @rowsIn = COUNT(*) FROM staging.RetailSales_Import;
    SELECT @rowsOut = COUNT(*) FROM bronze.Customer_Bronze;

    INSERT INTO audit.Customer_Pipeline_Log (RowsIn, RowsOut, RowsRejected, RejectionBreakdown, Notes)
    VALUES (@rowsIn, @rowsOut, 0, NULL, 'Bronze - Customer: raw load from staging, no filtering applied');
END;
GO
/****** Object:  StoredProcedure [etl].[usp_Load_Customer_Silver]    Script Date: 10/08/2026 07:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [etl].[usp_Load_Customer_Silver]
AS
BEGIN
    SET NOCOUNT ON;

    TRUNCATE TABLE silver.Customer_Silver;
    TRUNCATE TABLE audit.Customer_Rejected;

    SELECT
        d.CustomerKey,
        d.CustomerID,
        d.CustomerName,
        CASE WHEN TRY_CAST(d.Age AS DECIMAL(10,2)) IS NULL THEN NULL
             WHEN TRY_CAST(d.Age AS DECIMAL(10,2)) < 0 OR TRY_CAST(d.Age AS DECIMAL(10,2)) > 120 THEN NULL
             ELSE CAST(TRY_CAST(d.Age AS DECIMAL(10,2)) AS INT) END AS Age,
        CASE
            WHEN UPPER(LTRIM(RTRIM(d.Gender))) IN ('MALE','M') THEN 'Male'
            WHEN UPPER(LTRIM(RTRIM(d.Gender))) IN ('FEMALE','F') THEN 'Female'
            WHEN UPPER(LTRIM(RTRIM(d.Gender))) IN ('OTHER') THEN 'Other'
            ELSE NULL
        END AS Gender,
        d.Region,
        d.City,
        TRY_CAST(d.CustomerSatisfaction AS DECIMAL(5,1)) AS CustomerSatisfaction
    INTO #cleaned
    FROM (
        SELECT *,
            ROW_NUMBER() OVER (PARTITION BY CustomerID ORDER BY CreatedDate DESC) AS rn
        FROM bronze.Customer_Bronze
        WHERE CustomerID IS NOT NULL AND LTRIM(RTRIM(CustomerID)) <> ''
    ) d
    WHERE d.rn = 1;

    INSERT INTO silver.Customer_Silver
        (CustomerID, CustomerName, Age, Gender, Region, City, CustomerSatisfaction, SourceCustomerKey)
    SELECT
        CustomerID, CustomerName, Age, Gender, Region, City, CustomerSatisfaction, CustomerKey
    FROM #cleaned
    WHERE CustomerID LIKE 'CUST%'
      AND Gender IS NOT NULL;

    INSERT INTO audit.Customer_Rejected
        (SourceCustomerKey, RejectionReason, RawCustomerID, RawAge, RawGender)
    SELECT
        CustomerKey,
        CASE
            WHEN CustomerID NOT LIKE 'CUST%' THEN 'CustomerID format mismatch (possible column misalignment)'
            WHEN Gender IS NULL THEN 'Invalid or unrecognized gender value (possible column misalignment)'
            ELSE 'Unknown'
        END,
        CustomerID,
        CAST(Age AS NVARCHAR(50)),
        CAST(Gender AS NVARCHAR(50))
    FROM #cleaned
    WHERE CustomerID NOT LIKE 'CUST%'
       OR Gender IS NULL;

    DECLARE @rowsIn INT, @rowsOut INT, @rowsRejected INT, @breakdown NVARCHAR(500);
    SELECT @rowsIn = COUNT(*) FROM #cleaned;
    SELECT @rowsOut = COUNT(*) FROM silver.Customer_Silver;
    SELECT @rowsRejected = COUNT(*) FROM audit.Customer_Rejected;

    SELECT @breakdown = STRING_AGG(CONCAT(RejectionReason, ': ', Cnt), '; ')
    FROM (
        SELECT RejectionReason, COUNT(*) AS Cnt
        FROM audit.Customer_Rejected
        GROUP BY RejectionReason
    ) t;

    INSERT INTO audit.Customer_Pipeline_Log (RowsIn, RowsOut, RowsRejected, RejectionBreakdown, Notes)
    VALUES (@rowsIn, @rowsOut, @rowsRejected, @breakdown,
            'Silver - Customer: CustomerID format + age range + gender validated');

    DROP TABLE #cleaned;
END;
GO
/****** Object:  StoredProcedure [etl].[usp_Load_DimCustomer]    Script Date: 10/08/2026 07:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [etl].[usp_Load_DimCustomer]
AS
BEGIN
    SET NOCOUNT ON;

    TRUNCATE TABLE gold.DimCustomer;

    ;WITH DedupCustomer AS (
        SELECT
            CustomerKey,
            CustomerID,
            CustomerName,
            CASE WHEN Age < 0 OR Age > 120 THEN NULL ELSE Age END AS Age,
            Gender,
            Region,
            City,
            CustomerSatisfaction,
            ROW_NUMBER() OVER (
                PARTITION BY CustomerID
                ORDER BY CustomerKey
            ) AS rn
        FROM silver.Customer_Silver
        WHERE CustomerID LIKE 'CUST%'
    )
    INSERT INTO gold.DimCustomer
        (SourceCustomerKey, CustomerID, CustomerName, Age, Gender, Region, City, CustomerSatisfaction)
    SELECT
        CustomerKey, CustomerID, CustomerName, Age, Gender, Region, City, CustomerSatisfaction
    FROM DedupCustomer
    WHERE rn = 1;

    DECLARE @rowsOut INT;
    SELECT @rowsOut = COUNT(*) FROM gold.DimCustomer;

    INSERT INTO audit.Execution_Log (LayerName, ModuleName, ProcedureName, ActionDescription, RowsAffected, ExecutedAt)
    VALUES ('Gold', 'Customer', 'usp_Load_DimCustomer',
            'Deduped by CustomerID, kept lowest CustomerKey', @rowsOut, GETDATE());
END;
GO
/****** Object:  StoredProcedure [etl].[usp_Load_DimDate]    Script Date: 10/08/2026 07:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [etl].[usp_Load_DimDate]
AS
BEGIN
    SET NOCOUNT ON;

    TRUNCATE TABLE gold.DimDate;

    INSERT INTO gold.DimDate
        (DateKey, FullDate, CalendarYear, CalendarMonth, MonthName, CalendarQuarter)
    SELECT DISTINCT
        YEAR(OrderDate) * 10000 + MONTH(OrderDate) * 100 + DAY(OrderDate),
        CAST(OrderDate AS DATE),
        YEAR(OrderDate),
        MONTH(OrderDate),
        DATENAME(MONTH, OrderDate),
        DATEPART(QUARTER, OrderDate)
    FROM silver.Sales_Silver
    WHERE OrderDate IS NOT NULL AND OrderDate > '1900-01-01';

    DECLARE @rowsOut INT;
    SELECT @rowsOut = COUNT(*) FROM gold.DimDate;

    INSERT INTO audit.Execution_Log (LayerName, ModuleName, ProcedureName, ActionDescription, RowsAffected, ExecutedAt)
    VALUES ('Gold', 'Date', 'usp_Load_DimDate',
            'Distinct calendar dates derived from Sales_Silver.OrderDate', @rowsOut, GETDATE());
END;
GO
/****** Object:  StoredProcedure [etl].[usp_Load_DimProduct]    Script Date: 10/08/2026 07:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [etl].[usp_Load_DimProduct]
AS
BEGIN
    SET NOCOUNT ON;

    TRUNCATE TABLE gold.DimProduct;

    ;WITH DedupProduct AS (
        SELECT
            ProductKey,
            ProductCategory,
            ProductName,
            UnitPrice,
            ROW_NUMBER() OVER (
                PARTITION BY ProductCategory, ProductName
                ORDER BY ProductKey
            ) AS rn
        FROM silver.Product_Silver
    )
    INSERT INTO gold.DimProduct
        (SourceProductKey, ProductCategory, ProductName, UnitPrice)
    SELECT
        ProductKey, ProductCategory, ProductName, UnitPrice
    FROM DedupProduct
    WHERE rn = 1;

    DECLARE @rowsOut INT;
    SELECT @rowsOut = COUNT(*) FROM gold.DimProduct;

    INSERT INTO audit.Execution_Log (LayerName, ModuleName, ProcedureName, ActionDescription, RowsAffected, ExecutedAt)
    VALUES ('Gold', 'Product', 'usp_Load_DimProduct',
            'Deduped by ProductCategory + ProductName, kept lowest ProductKey', @rowsOut, GETDATE());
END;
GO
/****** Object:  StoredProcedure [etl].[usp_Load_FactSales]    Script Date: 10/08/2026 07:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [etl].[usp_Load_FactSales]
AS
BEGIN
    SET NOCOUNT ON;

    TRUNCATE TABLE gold.FactSales;

    INSERT INTO gold.FactSales
        (ProductKey, CustomerKey, DateKey, OrderID, Quantity, DiscountPct,
         SalesAmount, Profit, ShippingCost, PaymentMethod, ReturnFlag, OrderStatus, DaysToShip)
    SELECT
        DP.ProductKey, DC.CustomerKey, DD.DateKey,
        SS.OrderID, SS.Quantity, SS.DiscountPct, SS.SalesAmount,
        SS.Profit, SS.ShippingCost, SS.PaymentMethod, SS.ReturnFlag, SS.OrderStatus, SS.DaysToShip
    FROM silver.Sales_Silver SS
    INNER JOIN gold.DimProduct DP
        ON SS.ProductCategory = DP.ProductCategory AND SS.ProductName = DP.ProductName
    INNER JOIN gold.DimCustomer DC
        ON SS.CustomerID = DC.CustomerID
    INNER JOIN gold.DimDate DD
        ON SS.OrderDate = DD.FullDate;

    DECLARE @rowsIn INT, @rowsOut INT;
    SELECT @rowsIn = COUNT(*) FROM silver.Sales_Silver;
    SELECT @rowsOut = COUNT(*) FROM gold.FactSales;

    INSERT INTO audit.Execution_Log (LayerName, ModuleName, ProcedureName, ActionDescription, RowsAffected, ExecutedAt)
    VALUES ('Gold', 'Sales', 'usp_Load_FactSales',
            CONCAT('Joined Silver Sales to Dim tables; RowsIn=', @rowsIn, ', RowsOut=', @rowsOut,
                   ' (unmatched dropped by INNER JOIN)'), @rowsOut, GETDATE());
END;
GO
/****** Object:  StoredProcedure [etl].[usp_Load_Product_Bronze]    Script Date: 10/08/2026 07:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [etl].[usp_Load_Product_Bronze]
AS
BEGIN
    SET NOCOUNT ON;

    TRUNCATE TABLE bronze.Product_Bronze;

    INSERT INTO bronze.Product_Bronze
        (ProductCategory, ProductName, UnitPrice, SourceImportID)
    SELECT
        ProductCategory, ProductName, UnitPrice, ImportID
    FROM staging.RetailSales_Import;

    DECLARE @rowsIn INT, @rowsOut INT;
    SELECT @rowsIn = COUNT(*) FROM staging.RetailSales_Import;
    SELECT @rowsOut = COUNT(*) FROM bronze.Product_Bronze;

    INSERT INTO audit.Product_Pipeline_Log (RowsIn, RowsOut, RowsRejected, RejectionBreakdown, Notes)
    VALUES (@rowsIn, @rowsOut, 0, NULL, 'Bronze - Product: raw load from staging, no filtering applied');
END;
GO
/****** Object:  StoredProcedure [etl].[usp_Load_Product_Silver]    Script Date: 10/08/2026 07:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [etl].[usp_Load_Product_Silver]
AS
BEGIN
    SET NOCOUNT ON;

    TRUNCATE TABLE silver.Product_Silver;
    TRUNCATE TABLE audit.Product_Rejected;

    SELECT
        ProductID,
        ProductCategory,
        ProductName,
        TRY_CAST(NULLIF(LTRIM(RTRIM(UnitPrice)), '') AS DECIMAL(18,2)) AS UnitPrice
    INTO #cleaned
    FROM bronze.Product_Bronze;

    INSERT INTO silver.Product_Silver
        (ProductCategory, ProductName, UnitPrice, SourceProductID)
    SELECT
        ProductCategory, ProductName, UnitPrice, ProductID
    FROM #cleaned
    WHERE ProductCategory IN ('Beauty','Books','Clothing','Electronics','Furniture','Groceries','Sports')
      AND UnitPrice IS NOT NULL
      AND UnitPrice > 0;

    INSERT INTO audit.Product_Rejected
        (SourceProductID, RejectionReason, RawCategory, RawProductName, RawUnitPrice, RejectedAt)
    SELECT
        ProductID,
        CASE
            WHEN ProductCategory NOT IN ('Beauty','Books','Clothing','Electronics','Furniture','Groceries','Sports')
                THEN 'Category not in approved list'
            WHEN UnitPrice IS NULL OR UnitPrice <= 0
                THEN 'Invalid or missing unit price'
            ELSE 'Unknown'
        END,
        ProductCategory,
        ProductName,
        CAST(UnitPrice AS NVARCHAR(50)),
        GETDATE()
    FROM #cleaned
    WHERE ProductCategory NOT IN ('Beauty','Books','Clothing','Electronics','Furniture','Groceries','Sports')
       OR UnitPrice IS NULL
       OR UnitPrice <= 0;

    DECLARE @rowsIn INT, @rowsOut INT, @rowsRejected INT, @breakdown NVARCHAR(500);
    SELECT @rowsIn = COUNT(*) FROM #cleaned;
    SELECT @rowsOut = COUNT(*) FROM silver.Product_Silver;
    SELECT @rowsRejected = COUNT(*) FROM audit.Product_Rejected;

    SELECT @breakdown = STRING_AGG(CONCAT(RejectionReason, ': ', Cnt), '; ')
    FROM (
        SELECT RejectionReason, COUNT(*) AS Cnt
        FROM audit.Product_Rejected
        GROUP BY RejectionReason
    ) t;

    INSERT INTO audit.Product_Pipeline_Log (RowsIn, RowsOut, RowsRejected, RejectionBreakdown, Notes)
    VALUES (@rowsIn, @rowsOut, @rowsRejected, @breakdown,
            'Silver - Product: filtered to 7 approved categories, validated UnitPrice > 0; rejected rows logged to audit.Product_Rejected');

    DROP TABLE #cleaned;
END;
GO
/****** Object:  StoredProcedure [etl].[usp_Load_Sales_Bronze]    Script Date: 10/08/2026 07:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [etl].[usp_Load_Sales_Bronze]
AS
BEGIN
    SET NOCOUNT ON;

    TRUNCATE TABLE bronze.Sales_Bronze;

    INSERT INTO bronze.Sales_Bronze
    (
        OrderID, OrderDate, CustomerID, ProductCategory, ProductName,
        Quantity, DiscountPct, SalesAmount, Profit, ShippingCost,
        PaymentMethod, ReturnFlag, OrderStatus, DaysToShip, SourceImportID
    )
    SELECT
        OrderID, TRY_CAST(OrderDate AS DATE), CustomerID, ProductCategory, ProductName,
        Quantity, DiscountPct, SalesAmount, Profit, ShippingCost,
        PaymentMethod, ReturnFlag, OrderStatus, DaysToShip, ImportID
    FROM staging.RetailSales_Import;

    DECLARE @rowsIn INT, @rowsOut INT;
    SELECT @rowsIn = COUNT(*) FROM staging.RetailSales_Import;
    SELECT @rowsOut = COUNT(*) FROM bronze.Sales_Bronze;

    INSERT INTO audit.Sales_Pipeline_Log (RowsIn, RowsOut, RowsRejected, RejectionBreakdown, Notes)
    VALUES (@rowsIn, @rowsOut, 0, NULL, 'Bronze - Sales: raw load from staging, no filtering applied');
END;
GO
/****** Object:  StoredProcedure [etl].[usp_Load_Sales_Silver]    Script Date: 10/08/2026 07:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [etl].[usp_Load_Sales_Silver]
AS
BEGIN
    SET NOCOUNT ON;

    TRUNCATE TABLE silver.Sales_Silver;
    TRUNCATE TABLE audit.Sales_Rejected;

    SELECT
        d.OrderID, d.CustomerID, d.ProductCategory, d.ProductName,
        COALESCE(
            TRY_CONVERT(DATE, d.OrderDate, 23),
            TRY_CONVERT(DATE, d.OrderDate, 101),
            TRY_CONVERT(DATE, d.OrderDate, 103),
            TRY_CONVERT(DATE, d.OrderDate, 107)
        ) AS OrderDate,
        CAST(TRY_CAST(d.Quantity AS DECIMAL(10,2)) AS INT) AS Quantity,
        TRY_CAST(d.DiscountPct AS DECIMAL(5,2)) AS DiscountPct,
        TRY_CAST(d.SalesAmount AS DECIMAL(18,2)) AS SalesAmount,
        TRY_CAST(d.Profit AS DECIMAL(18,2)) AS Profit,
        CASE WHEN TRY_CAST(d.ShippingCost AS DECIMAL(18,2)) < 0 THEN NULL
             ELSE TRY_CAST(d.ShippingCost AS DECIMAL(18,2)) END AS ShippingCost,
        d.PaymentMethod,
        CASE WHEN d.ReturnFlag IN ('1','True','TRUE','Yes','YES') THEN 1 ELSE 0 END AS ReturnFlag,
        d.OrderStatus,
        CAST(TRY_CAST(d.DaysToShip AS DECIMAL(10,2)) AS INT) AS DaysToShip,
        d.SalesKey AS SourceSalesKey
    INTO #cleaned
    FROM (
        SELECT *,
            ROW_NUMBER() OVER (PARTITION BY OrderID ORDER BY CreatedDate DESC) AS rn
        FROM bronze.Sales_Bronze
        WHERE OrderID IS NOT NULL AND LTRIM(RTRIM(OrderID)) <> ''
    ) d
    WHERE d.rn = 1;

    INSERT INTO silver.Sales_Silver
        (OrderID, OrderDate, CustomerID, ProductCategory, ProductName, Quantity, DiscountPct,
         SalesAmount, Profit, ShippingCost, PaymentMethod, ReturnFlag, OrderStatus, DaysToShip, SourceSalesKey)
    SELECT
        OrderID, OrderDate, CustomerID, ProductCategory, ProductName, Quantity, DiscountPct,
        SalesAmount, Profit, ShippingCost, PaymentMethod, ReturnFlag, OrderStatus, DaysToShip, SourceSalesKey
    FROM #cleaned
    WHERE Quantity IS NOT NULL AND Quantity > 0
      AND OrderDate IS NOT NULL
      AND CustomerID LIKE 'CUST%'
      AND ProductCategory IS NOT NULL
      AND ProductName IS NOT NULL;

    INSERT INTO audit.Sales_Rejected
        (SourceOrderID, RejectionReason, RawCustomerID, RawOrderDate, RawQuantity)
    SELECT
        OrderID,
        CASE
            WHEN Quantity IS NULL OR Quantity <= 0 THEN 'Invalid or non-positive quantity'
            WHEN OrderDate IS NULL THEN 'Unparseable order date'
            WHEN CustomerID NOT LIKE 'CUST%' THEN 'CustomerID format mismatch (possible column misalignment)'
            WHEN ProductCategory IS NULL OR ProductName IS NULL THEN 'Missing product information'
            ELSE 'Unknown'
        END,
        CustomerID, CAST(OrderDate AS NVARCHAR(50)), CAST(Quantity AS NVARCHAR(50))
    FROM #cleaned
    WHERE Quantity IS NULL OR Quantity <= 0
       OR OrderDate IS NULL
       OR CustomerID NOT LIKE 'CUST%'
       OR ProductCategory IS NULL
       OR ProductName IS NULL;

    DECLARE @rowsIn INT, @rowsOut INT, @rowsRejected INT, @breakdown NVARCHAR(500);
    SELECT @rowsIn = COUNT(*) FROM #cleaned;
    SELECT @rowsOut = COUNT(*) FROM silver.Sales_Silver;
    SELECT @rowsRejected = COUNT(*) FROM audit.Sales_Rejected;

    SELECT @breakdown = STRING_AGG(CONCAT(RejectionReason, ': ', Cnt), '; ')
    FROM (
        SELECT RejectionReason, COUNT(*) AS Cnt
        FROM audit.Sales_Rejected
        GROUP BY RejectionReason
    ) t;

    INSERT INTO audit.Sales_Pipeline_Log (RowsIn, RowsOut, RowsRejected, RejectionBreakdown, Notes)
    VALUES (@rowsIn, @rowsOut, @rowsRejected, @breakdown,
            'Silver - Sales: CustomerID format + quantity + date + product info + shipping cost validated');

    DROP TABLE #cleaned;
END;
GO
USE [master]
GO
