USE [RetailDW]
GO
/****** Object:  Table [audit].[Product_Pipeline_Log]    Script Date: 10/08/2026 08:01:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [audit].[Product_Pipeline_Log](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[RowsIn] [int] NULL,
	[RowsOut] [int] NULL,
	[RowsRejected] [int] NULL,
	[RejectionBreakdown] [nvarchar](500) NULL,
	[Notes] [nvarchar](300) NULL,
	[RunTimestamp] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [audit].[Product_Pipeline_Log] ADD  DEFAULT (getdate()) FOR [RunTimestamp]
GO
