USE [RetailDW]
GO
/****** Object:  Table [audit].[Sales_Rejected]    Script Date: 10/08/2026 08:01:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [audit].[Sales_Rejected](
	[RejectionID] [int] IDENTITY(1,1) NOT NULL,
	[SourceOrderID] [nvarchar](100) NULL,
	[RejectionReason] [nvarchar](200) NULL,
	[RawCustomerID] [nvarchar](100) NULL,
	[RawOrderDate] [nvarchar](100) NULL,
	[RawQuantity] [nvarchar](50) NULL,
	[RejectedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[RejectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [audit].[Sales_Rejected] ADD  DEFAULT (getdate()) FOR [RejectedAt]
GO
