USE [RetailDW]
GO
/****** Object:  Table [bronze].[Sales_Bronze]    Script Date: 10/08/2026 08:01:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bronze].[Sales_Bronze](
	[SalesKey] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [varchar](100) NULL,
	[OrderDate] [varchar](100) NULL,
	[Quantity] [varchar](50) NULL,
	[DiscountPct] [varchar](50) NULL,
	[SalesAmount] [varchar](50) NULL,
	[Profit] [varchar](50) NULL,
	[ShippingCost] [varchar](50) NULL,
	[PaymentMethod] [varchar](100) NULL,
	[ReturnFlag] [varchar](50) NULL,
	[OrderStatus] [varchar](100) NULL,
	[DaysToShip] [varchar](50) NULL,
	[SourceImportID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CustomerID] [varchar](100) NULL,
	[ProductCategory] [varchar](100) NULL,
	[ProductName] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[SalesKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [bronze].[Sales_Bronze] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
