USE [RetailDW]
GO
/****** Object:  Table [bronze].[Customer_Bronze]    Script Date: 10/08/2026 08:01:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bronze].[Customer_Bronze](
	[CustomerKey] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [varchar](100) NULL,
	[CustomerName] [varchar](255) NULL,
	[Age] [varchar](50) NULL,
	[Gender] [varchar](50) NULL,
	[Region] [varchar](100) NULL,
	[City] [varchar](100) NULL,
	[CustomerSatisfaction] [varchar](50) NULL,
	[SourceImportID] [int] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [bronze].[Customer_Bronze] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
