USE [RetailDW]
GO
/****** Object:  Table [bronze].[Product_Bronze]    Script Date: 10/08/2026 08:01:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bronze].[Product_Bronze](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductCategory] [varchar](100) NULL,
	[ProductName] [varchar](255) NULL,
	[UnitPrice] [varchar](50) NULL,
	[SourceImportID] [int] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [bronze].[Product_Bronze] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
