USE [RetailDW]
GO
/****** Object:  StoredProcedure [etl].[usp_Load_Customer_Silver]    Script Date: 10/08/2026 08:01:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [etl].[usp_Load_Customer_Silver]
AS
BEGIN
    SET NOCOUNT ON;

    TRUNCATE TABLE silver.Customer_Silver;
    TRUNCATE TABLE audit.Customer_Rejected;

    SELECT
        d.CustomerKey,
        d.CustomerID,
        d.CustomerName,
        CASE WHEN TRY_CAST(d.Age AS DECIMAL(10,2)) IS NULL THEN NULL
             WHEN TRY_CAST(d.Age AS DECIMAL(10,2)) < 0 OR TRY_CAST(d.Age AS DECIMAL(10,2)) > 120 THEN NULL
             ELSE CAST(TRY_CAST(d.Age AS DECIMAL(10,2)) AS INT) END AS Age,
        CASE
            WHEN UPPER(LTRIM(RTRIM(d.Gender))) IN ('MALE','M') THEN 'Male'
            WHEN UPPER(LTRIM(RTRIM(d.Gender))) IN ('FEMALE','F') THEN 'Female'
            WHEN UPPER(LTRIM(RTRIM(d.Gender))) IN ('OTHER') THEN 'Other'
            ELSE NULL
        END AS Gender,
        d.Region,
        d.City,
        TRY_CAST(d.CustomerSatisfaction AS DECIMAL(5,1)) AS CustomerSatisfaction
    INTO #cleaned
    FROM (
        SELECT *,
            ROW_NUMBER() OVER (PARTITION BY CustomerID ORDER BY CreatedDate DESC) AS rn
        FROM bronze.Customer_Bronze
        WHERE CustomerID IS NOT NULL AND LTRIM(RTRIM(CustomerID)) <> ''
    ) d
    WHERE d.rn = 1;

    INSERT INTO silver.Customer_Silver
        (CustomerID, CustomerName, Age, Gender, Region, City, CustomerSatisfaction, SourceCustomerKey)
    SELECT
        CustomerID, CustomerName, Age, Gender, Region, City, CustomerSatisfaction, CustomerKey
    FROM #cleaned
    WHERE CustomerID LIKE 'CUST%'
      AND Gender IS NOT NULL;

    INSERT INTO audit.Customer_Rejected
        (SourceCustomerKey, RejectionReason, RawCustomerID, RawAge, RawGender)
    SELECT
        CustomerKey,
        CASE
            WHEN CustomerID NOT LIKE 'CUST%' THEN 'CustomerID format mismatch (possible column misalignment)'
            WHEN Gender IS NULL THEN 'Invalid or unrecognized gender value (possible column misalignment)'
            ELSE 'Unknown'
        END,
        CustomerID,
        CAST(Age AS NVARCHAR(50)),
        CAST(Gender AS NVARCHAR(50))
    FROM #cleaned
    WHERE CustomerID NOT LIKE 'CUST%'
       OR Gender IS NULL;

    DECLARE @rowsIn INT, @rowsOut INT, @rowsRejected INT, @breakdown NVARCHAR(500);
    SELECT @rowsIn = COUNT(*) FROM #cleaned;
    SELECT @rowsOut = COUNT(*) FROM silver.Customer_Silver;
    SELECT @rowsRejected = COUNT(*) FROM audit.Customer_Rejected;

    SELECT @breakdown = STRING_AGG(CONCAT(RejectionReason, ': ', Cnt), '; ')
    FROM (
        SELECT RejectionReason, COUNT(*) AS Cnt
        FROM audit.Customer_Rejected
        GROUP BY RejectionReason
    ) t;

    INSERT INTO audit.Customer_Pipeline_Log (RowsIn, RowsOut, RowsRejected, RejectionBreakdown, Notes)
    VALUES (@rowsIn, @rowsOut, @rowsRejected, @breakdown,
            'Silver - Customer: CustomerID format + age range + gender validated');

    DROP TABLE #cleaned;
END;
GO
