USE [RetailDW]
GO
/****** Object:  StoredProcedure [etl].[usp_Load_Sales_Silver]    Script Date: 10/08/2026 08:01:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [etl].[usp_Load_Sales_Silver]
AS
BEGIN
    SET NOCOUNT ON;

    TRUNCATE TABLE silver.Sales_Silver;
    TRUNCATE TABLE audit.Sales_Rejected;

    SELECT
        d.OrderID, d.CustomerID, d.ProductCategory, d.ProductName,
        COALESCE(
            TRY_CONVERT(DATE, d.OrderDate, 23),
            TRY_CONVERT(DATE, d.OrderDate, 101),
            TRY_CONVERT(DATE, d.OrderDate, 103),
            TRY_CONVERT(DATE, d.OrderDate, 107)
        ) AS OrderDate,
        CAST(TRY_CAST(d.Quantity AS DECIMAL(10,2)) AS INT) AS Quantity,
        TRY_CAST(d.DiscountPct AS DECIMAL(5,2)) AS DiscountPct,
        TRY_CAST(d.SalesAmount AS DECIMAL(18,2)) AS SalesAmount,
        TRY_CAST(d.Profit AS DECIMAL(18,2)) AS Profit,
        CASE WHEN TRY_CAST(d.ShippingCost AS DECIMAL(18,2)) < 0 THEN NULL
             ELSE TRY_CAST(d.ShippingCost AS DECIMAL(18,2)) END AS ShippingCost,
        d.PaymentMethod,
        CASE WHEN d.ReturnFlag IN ('1','True','TRUE','Yes','YES') THEN 1 ELSE 0 END AS ReturnFlag,
        d.OrderStatus,
        CAST(TRY_CAST(d.DaysToShip AS DECIMAL(10,2)) AS INT) AS DaysToShip,
        d.SalesKey AS SourceSalesKey
    INTO #cleaned
    FROM (
        SELECT *,
            ROW_NUMBER() OVER (PARTITION BY OrderID ORDER BY CreatedDate DESC) AS rn
        FROM bronze.Sales_Bronze
        WHERE OrderID IS NOT NULL AND LTRIM(RTRIM(OrderID)) <> ''
    ) d
    WHERE d.rn = 1;

    INSERT INTO silver.Sales_Silver
        (OrderID, OrderDate, CustomerID, ProductCategory, ProductName, Quantity, DiscountPct,
         SalesAmount, Profit, ShippingCost, PaymentMethod, ReturnFlag, OrderStatus, DaysToShip, SourceSalesKey)
    SELECT
        OrderID, OrderDate, CustomerID, ProductCategory, ProductName, Quantity, DiscountPct,
        SalesAmount, Profit, ShippingCost, PaymentMethod, ReturnFlag, OrderStatus, DaysToShip, SourceSalesKey
    FROM #cleaned
    WHERE Quantity IS NOT NULL AND Quantity > 0
      AND OrderDate IS NOT NULL
      AND CustomerID LIKE 'CUST%'
      AND ProductCategory IS NOT NULL
      AND ProductName IS NOT NULL;

    INSERT INTO audit.Sales_Rejected
        (SourceOrderID, RejectionReason, RawCustomerID, RawOrderDate, RawQuantity)
    SELECT
        OrderID,
        CASE
            WHEN Quantity IS NULL OR Quantity <= 0 THEN 'Invalid or non-positive quantity'
            WHEN OrderDate IS NULL THEN 'Unparseable order date'
            WHEN CustomerID NOT LIKE 'CUST%' THEN 'CustomerID format mismatch (possible column misalignment)'
            WHEN ProductCategory IS NULL OR ProductName IS NULL THEN 'Missing product information'
            ELSE 'Unknown'
        END,
        CustomerID, CAST(OrderDate AS NVARCHAR(50)), CAST(Quantity AS NVARCHAR(50))
    FROM #cleaned
    WHERE Quantity IS NULL OR Quantity <= 0
       OR OrderDate IS NULL
       OR CustomerID NOT LIKE 'CUST%'
       OR ProductCategory IS NULL
       OR ProductName IS NULL;

    DECLARE @rowsIn INT, @rowsOut INT, @rowsRejected INT, @breakdown NVARCHAR(500);
    SELECT @rowsIn = COUNT(*) FROM #cleaned;
    SELECT @rowsOut = COUNT(*) FROM silver.Sales_Silver;
    SELECT @rowsRejected = COUNT(*) FROM audit.Sales_Rejected;

    SELECT @breakdown = STRING_AGG(CONCAT(RejectionReason, ': ', Cnt), '; ')
    FROM (
        SELECT RejectionReason, COUNT(*) AS Cnt
        FROM audit.Sales_Rejected
        GROUP BY RejectionReason
    ) t;

    INSERT INTO audit.Sales_Pipeline_Log (RowsIn, RowsOut, RowsRejected, RejectionBreakdown, Notes)
    VALUES (@rowsIn, @rowsOut, @rowsRejected, @breakdown,
            'Silver - Sales: CustomerID format + quantity + date + product info + shipping cost validated');

    DROP TABLE #cleaned;
END;
GO
