USE [RetailDW]
GO
/****** Object:  StoredProcedure [etl].[usp_Load_DimDate]    Script Date: 10/08/2026 08:01:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [etl].[usp_Load_DimDate]
AS
BEGIN
    SET NOCOUNT ON;

    TRUNCATE TABLE gold.DimDate;

    INSERT INTO gold.DimDate
        (DateKey, FullDate, CalendarYear, CalendarMonth, MonthName, CalendarQuarter)
    SELECT DISTINCT
        YEAR(OrderDate) * 10000 + MONTH(OrderDate) * 100 + DAY(OrderDate),
        CAST(OrderDate AS DATE),
        YEAR(OrderDate),
        MONTH(OrderDate),
        DATENAME(MONTH, OrderDate),
        DATEPART(QUARTER, OrderDate)
    FROM silver.Sales_Silver
    WHERE OrderDate IS NOT NULL AND OrderDate > '1900-01-01';

    DECLARE @rowsOut INT;
    SELECT @rowsOut = COUNT(*) FROM gold.DimDate;

    INSERT INTO audit.Execution_Log (LayerName, ModuleName, ProcedureName, ActionDescription, RowsAffected, ExecutedAt)
    VALUES ('Gold', 'Date', 'usp_Load_DimDate',
            'Distinct calendar dates derived from Sales_Silver.OrderDate', @rowsOut, GETDATE());
END;
GO
