USE [RetailDW]
GO
/****** Object:  StoredProcedure [etl].[usp_Load_DimCustomer]    Script Date: 10/08/2026 08:01:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [etl].[usp_Load_DimCustomer]
AS
BEGIN
    SET NOCOUNT ON;

    TRUNCATE TABLE gold.DimCustomer;

    ;WITH DedupCustomer AS (
        SELECT
            CustomerKey,
            CustomerID,
            CustomerName,
            CASE WHEN Age < 0 OR Age > 120 THEN NULL ELSE Age END AS Age,
            Gender,
            Region,
            City,
            CustomerSatisfaction,
            ROW_NUMBER() OVER (
                PARTITION BY CustomerID
                ORDER BY CustomerKey
            ) AS rn
        FROM silver.Customer_Silver
        WHERE CustomerID LIKE 'CUST%'
    )
    INSERT INTO gold.DimCustomer
        (SourceCustomerKey, CustomerID, CustomerName, Age, Gender, Region, City, CustomerSatisfaction)
    SELECT
        CustomerKey, CustomerID, CustomerName, Age, Gender, Region, City, CustomerSatisfaction
    FROM DedupCustomer
    WHERE rn = 1;

    DECLARE @rowsOut INT;
    SELECT @rowsOut = COUNT(*) FROM gold.DimCustomer;

    INSERT INTO audit.Execution_Log (LayerName, ModuleName, ProcedureName, ActionDescription, RowsAffected, ExecutedAt)
    VALUES ('Gold', 'Customer', 'usp_Load_DimCustomer',
            'Deduped by CustomerID, kept lowest CustomerKey', @rowsOut, GETDATE());
END;
GO
