USE [RetailDW]
GO
/****** Object:  StoredProcedure [etl].[usp_Load_Product_Bronze]    Script Date: 10/08/2026 08:01:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [etl].[usp_Load_Product_Bronze]
AS
BEGIN
    SET NOCOUNT ON;

    TRUNCATE TABLE bronze.Product_Bronze;

    INSERT INTO bronze.Product_Bronze
        (ProductCategory, ProductName, UnitPrice, SourceImportID)
    SELECT
        ProductCategory, ProductName, UnitPrice, ImportID
    FROM staging.RetailSales_Import;

    DECLARE @rowsIn INT, @rowsOut INT;
    SELECT @rowsIn = COUNT(*) FROM staging.RetailSales_Import;
    SELECT @rowsOut = COUNT(*) FROM bronze.Product_Bronze;

    INSERT INTO audit.Product_Pipeline_Log (RowsIn, RowsOut, RowsRejected, RejectionBreakdown, Notes)
    VALUES (@rowsIn, @rowsOut, 0, NULL, 'Bronze - Product: raw load from staging, no filtering applied');
END;
GO
