USE [RetailDW]
GO
/****** Object:  StoredProcedure [etl].[usp_Load_Sales_Bronze]    Script Date: 10/08/2026 08:01:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [etl].[usp_Load_Sales_Bronze]
AS
BEGIN
    SET NOCOUNT ON;

    TRUNCATE TABLE bronze.Sales_Bronze;

    INSERT INTO bronze.Sales_Bronze
    (
        OrderID, OrderDate, CustomerID, ProductCategory, ProductName,
        Quantity, DiscountPct, SalesAmount, Profit, ShippingCost,
        PaymentMethod, ReturnFlag, OrderStatus, DaysToShip, SourceImportID
    )
    SELECT
        OrderID, TRY_CAST(OrderDate AS DATE), CustomerID, ProductCategory, ProductName,
        Quantity, DiscountPct, SalesAmount, Profit, ShippingCost,
        PaymentMethod, ReturnFlag, OrderStatus, DaysToShip, ImportID
    FROM staging.RetailSales_Import;

    DECLARE @rowsIn INT, @rowsOut INT;
    SELECT @rowsIn = COUNT(*) FROM staging.RetailSales_Import;
    SELECT @rowsOut = COUNT(*) FROM bronze.Sales_Bronze;

    INSERT INTO audit.Sales_Pipeline_Log (RowsIn, RowsOut, RowsRejected, RejectionBreakdown, Notes)
    VALUES (@rowsIn, @rowsOut, 0, NULL, 'Bronze - Sales: raw load from staging, no filtering applied');
END;
GO
