USE [RetailDW]
GO
/****** Object:  StoredProcedure [etl].[usp_Load_DimProduct]    Script Date: 10/08/2026 08:01:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [etl].[usp_Load_DimProduct]
AS
BEGIN
    SET NOCOUNT ON;

    TRUNCATE TABLE gold.DimProduct;

    ;WITH DedupProduct AS (
        SELECT
            ProductKey,
            ProductCategory,
            ProductName,
            UnitPrice,
            ROW_NUMBER() OVER (
                PARTITION BY ProductCategory, ProductName
                ORDER BY ProductKey
            ) AS rn
        FROM silver.Product_Silver
    )
    INSERT INTO gold.DimProduct
        (SourceProductKey, ProductCategory, ProductName, UnitPrice)
    SELECT
        ProductKey, ProductCategory, ProductName, UnitPrice
    FROM DedupProduct
    WHERE rn = 1;

    DECLARE @rowsOut INT;
    SELECT @rowsOut = COUNT(*) FROM gold.DimProduct;

    INSERT INTO audit.Execution_Log (LayerName, ModuleName, ProcedureName, ActionDescription, RowsAffected, ExecutedAt)
    VALUES ('Gold', 'Product', 'usp_Load_DimProduct',
            'Deduped by ProductCategory + ProductName, kept lowest ProductKey', @rowsOut, GETDATE());
END;
GO
