USE [RetailDW]
GO
/****** Object:  StoredProcedure [etl].[usp_Load_Customer_Bronze]    Script Date: 10/08/2026 08:01:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [etl].[usp_Load_Customer_Bronze]
AS
BEGIN
    SET NOCOUNT ON;

    TRUNCATE TABLE bronze.Customer_Bronze;

    INSERT INTO bronze.Customer_Bronze
        (CustomerID, CustomerName, Age, Gender, Region, City, CustomerSatisfaction, SourceImportID)
    SELECT
        CustomerID, CustomerName, Age, Gender, Region, City, CustomerSatisfaction, ImportID
    FROM staging.RetailSales_Import;

    DECLARE @rowsIn INT, @rowsOut INT;
    SELECT @rowsIn = COUNT(*) FROM staging.RetailSales_Import;
    SELECT @rowsOut = COUNT(*) FROM bronze.Customer_Bronze;

    INSERT INTO audit.Customer_Pipeline_Log (RowsIn, RowsOut, RowsRejected, RejectionBreakdown, Notes)
    VALUES (@rowsIn, @rowsOut, 0, NULL, 'Bronze - Customer: raw load from staging, no filtering applied');
END;
GO
