USE [RetailDW]
GO
/****** Object:  StoredProcedure [etl].[usp_Load_FactSales]    Script Date: 10/08/2026 08:01:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [etl].[usp_Load_FactSales]
AS
BEGIN
    SET NOCOUNT ON;

    TRUNCATE TABLE gold.FactSales;

    INSERT INTO gold.FactSales
        (ProductKey, CustomerKey, DateKey, OrderID, Quantity, DiscountPct,
         SalesAmount, Profit, ShippingCost, PaymentMethod, ReturnFlag, OrderStatus, DaysToShip)
    SELECT
        DP.ProductKey, DC.CustomerKey, DD.DateKey,
        SS.OrderID, SS.Quantity, SS.DiscountPct, SS.SalesAmount,
        SS.Profit, SS.ShippingCost, SS.PaymentMethod, SS.ReturnFlag, SS.OrderStatus, SS.DaysToShip
    FROM silver.Sales_Silver SS
    INNER JOIN gold.DimProduct DP
        ON SS.ProductCategory = DP.ProductCategory AND SS.ProductName = DP.ProductName
    INNER JOIN gold.DimCustomer DC
        ON SS.CustomerID = DC.CustomerID
    INNER JOIN gold.DimDate DD
        ON SS.OrderDate = DD.FullDate;

    DECLARE @rowsIn INT, @rowsOut INT;
    SELECT @rowsIn = COUNT(*) FROM silver.Sales_Silver;
    SELECT @rowsOut = COUNT(*) FROM gold.FactSales;

    INSERT INTO audit.Execution_Log (LayerName, ModuleName, ProcedureName, ActionDescription, RowsAffected, ExecutedAt)
    VALUES ('Gold', 'Sales', 'usp_Load_FactSales',
            CONCAT('Joined Silver Sales to Dim tables; RowsIn=', @rowsIn, ', RowsOut=', @rowsOut,
                   ' (unmatched dropped by INNER JOIN)'), @rowsOut, GETDATE());
END;
GO
