USE [RetailDW]
GO
/****** Object:  StoredProcedure [etl].[usp_Load_Product_Silver]    Script Date: 10/08/2026 08:01:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [etl].[usp_Load_Product_Silver]
AS
BEGIN
    SET NOCOUNT ON;

    TRUNCATE TABLE silver.Product_Silver;
    TRUNCATE TABLE audit.Product_Rejected;

    SELECT
        ProductID,
        ProductCategory,
        ProductName,
        TRY_CAST(NULLIF(LTRIM(RTRIM(UnitPrice)), '') AS DECIMAL(18,2)) AS UnitPrice
    INTO #cleaned
    FROM bronze.Product_Bronze;

    INSERT INTO silver.Product_Silver
        (ProductCategory, ProductName, UnitPrice, SourceProductID)
    SELECT
        ProductCategory, ProductName, UnitPrice, ProductID
    FROM #cleaned
    WHERE ProductCategory IN ('Beauty','Books','Clothing','Electronics','Furniture','Groceries','Sports')
      AND UnitPrice IS NOT NULL
      AND UnitPrice > 0;

    INSERT INTO audit.Product_Rejected
        (SourceProductID, RejectionReason, RawCategory, RawProductName, RawUnitPrice, RejectedAt)
    SELECT
        ProductID,
        CASE
            WHEN ProductCategory NOT IN ('Beauty','Books','Clothing','Electronics','Furniture','Groceries','Sports')
                THEN 'Category not in approved list'
            WHEN UnitPrice IS NULL OR UnitPrice <= 0
                THEN 'Invalid or missing unit price'
            ELSE 'Unknown'
        END,
        ProductCategory,
        ProductName,
        CAST(UnitPrice AS NVARCHAR(50)),
        GETDATE()
    FROM #cleaned
    WHERE ProductCategory NOT IN ('Beauty','Books','Clothing','Electronics','Furniture','Groceries','Sports')
       OR UnitPrice IS NULL
       OR UnitPrice <= 0;

    DECLARE @rowsIn INT, @rowsOut INT, @rowsRejected INT, @breakdown NVARCHAR(500);
    SELECT @rowsIn = COUNT(*) FROM #cleaned;
    SELECT @rowsOut = COUNT(*) FROM silver.Product_Silver;
    SELECT @rowsRejected = COUNT(*) FROM audit.Product_Rejected;

    SELECT @breakdown = STRING_AGG(CONCAT(RejectionReason, ': ', Cnt), '; ')
    FROM (
        SELECT RejectionReason, COUNT(*) AS Cnt
        FROM audit.Product_Rejected
        GROUP BY RejectionReason
    ) t;

    INSERT INTO audit.Product_Pipeline_Log (RowsIn, RowsOut, RowsRejected, RejectionBreakdown, Notes)
    VALUES (@rowsIn, @rowsOut, @rowsRejected, @breakdown,
            'Silver - Product: filtered to 7 approved categories, validated UnitPrice > 0; rejected rows logged to audit.Product_Rejected');

    DROP TABLE #cleaned;
END;
GO
