USE [RetailDW]
GO
/****** Object:  Table [gold].[DimDate]    Script Date: 10/08/2026 08:01:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gold].[DimDate](
	[DateKey] [int] NOT NULL,
	[FullDate] [date] NULL,
	[CalendarYear] [int] NULL,
	[CalendarMonth] [int] NULL,
	[MonthName] [nvarchar](20) NULL,
	[CalendarQuarter] [int] NULL,
	[LoadDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[DateKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [gold].[DimDate] ADD  DEFAULT (getdate()) FOR [LoadDate]
GO
