USE [RetailDW]
GO
/****** Object:  Table [gold].[FactSales]    Script Date: 10/08/2026 08:01:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gold].[FactSales](
	[FactSalesKey] [int] IDENTITY(1,1) NOT NULL,
	[ProductKey] [int] NOT NULL,
	[CustomerKey] [int] NOT NULL,
	[DateKey] [int] NOT NULL,
	[OrderID] [nvarchar](100) NULL,
	[Quantity] [int] NULL,
	[DiscountPct] [decimal](5, 2) NULL,
	[SalesAmount] [decimal](18, 2) NULL,
	[Profit] [decimal](18, 2) NULL,
	[ShippingCost] [decimal](18, 2) NULL,
	[PaymentMethod] [nvarchar](100) NULL,
	[ReturnFlag] [bit] NULL,
	[OrderStatus] [nvarchar](100) NULL,
	[DaysToShip] [int] NULL,
	[LoadDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[FactSalesKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [gold].[FactSales] ADD  DEFAULT (getdate()) FOR [LoadDate]
GO
