USE [RetailDW]
GO
/****** Object:  Table [silver].[Product_Silver]    Script Date: 10/08/2026 08:01:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [silver].[Product_Silver](
	[ProductKey] [int] IDENTITY(1,1) NOT NULL,
	[ProductCategory] [nvarchar](100) NULL,
	[ProductName] [nvarchar](200) NULL,
	[UnitPrice] [decimal](18, 2) NULL,
	[SourceProductID] [int] NULL,
	[LoadDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [silver].[Product_Silver] ADD  DEFAULT (getdate()) FOR [LoadDate]
GO
