USE [RetailDW]
GO
/****** Object:  Table [silver].[Sales_Silver]    Script Date: 10/08/2026 08:01:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [silver].[Sales_Silver](
	[SalesKey] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [nvarchar](50) NULL,
	[OrderDate] [date] NULL,
	[Quantity] [int] NULL,
	[DiscountPct] [decimal](5, 2) NULL,
	[SalesAmount] [decimal](18, 2) NULL,
	[Profit] [decimal](18, 2) NULL,
	[ShippingCost] [decimal](18, 2) NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[ReturnFlag] [bit] NULL,
	[OrderStatus] [nvarchar](50) NULL,
	[DaysToShip] [int] NULL,
	[SourceSalesKey] [int] NULL,
	[LoadDate] [datetime2](7) NULL,
	[CustomerID] [nvarchar](100) NULL,
	[ProductCategory] [nvarchar](100) NULL,
	[ProductName] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[SalesKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [silver].[Sales_Silver] ADD  DEFAULT (getdate()) FOR [LoadDate]
GO
