USE [RetailDW]
GO
/****** Object:  Table [silver].[Customer_Silver]    Script Date: 10/08/2026 08:01:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [silver].[Customer_Silver](
	[CustomerKey] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [nvarchar](50) NULL,
	[CustomerName] [nvarchar](200) NULL,
	[Age] [int] NULL,
	[Gender] [nvarchar](20) NULL,
	[Region] [nvarchar](100) NULL,
	[City] [nvarchar](100) NULL,
	[CustomerSatisfaction] [decimal](3, 1) NULL,
	[SourceCustomerKey] [int] NULL,
	[LoadDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [silver].[Customer_Silver] ADD  DEFAULT (getdate()) FOR [LoadDate]
GO
