USE [RetailDW]
GO
/****** Object:  Table [staging].[RetailSales_Import]    Script Date: 10/08/2026 08:01:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [staging].[RetailSales_Import](
	[ImportID] [int] IDENTITY(1,1) NOT NULL,
	[BatchID] [varchar](50) NULL,
	[SourceFileName] [varchar](255) NULL,
	[ImportDate] [datetime] NULL,
	[CustomerID] [varchar](100) NULL,
	[CustomerName] [varchar](255) NULL,
	[Age] [varchar](50) NULL,
	[Gender] [varchar](50) NULL,
	[Region] [varchar](100) NULL,
	[City] [varchar](100) NULL,
	[CustomerSatisfaction] [varchar](50) NULL,
	[ProductCategory] [varchar](100) NULL,
	[ProductName] [varchar](255) NULL,
	[UnitPrice] [varchar](50) NULL,
	[OrderID] [varchar](100) NULL,
	[OrderDate] [varchar](100) NULL,
	[Quantity] [varchar](50) NULL,
	[DiscountPct] [varchar](50) NULL,
	[SalesAmount] [varchar](50) NULL,
	[Profit] [varchar](50) NULL,
	[ShippingCost] [varchar](50) NULL,
	[PaymentMethod] [varchar](100) NULL,
	[ReturnFlag] [varchar](50) NULL,
	[OrderStatus] [varchar](100) NULL,
	[DaysToShip] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ImportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [staging].[RetailSales_Import] ADD  DEFAULT (getdate()) FOR [ImportDate]
GO
